@charset "utf-8";

/* --------------------------------------------------------------

Common

-------------------------------------------------------------- */
/* font
-------------------------------------------------------------- */
.item_page_title {
	font-family: cursive , "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

/* = itemsingle cart member
-------------------------------------------------------------- */
.item_page_title,
.cart_page_title,
.member_page_title {
	margin: 0 10px .5em;
	font-size: 22px;
	letter-spacing: 1px;
}

/* --------------------------------------------------------------

Item Single

-------------------------------------------------------------- */
#itempage {
	padding: 0 0 30px;
}

/* -- #img-box -- */
#itempage #img-box {
	position: relative;
	margin-bottom: 20px;
}
#img-box .slider {
	position: relative;
	margin-bottom: 10px;
	z-index: 0;
}
#itempage .itemsubimg {
	margin: 0;
}

/* -- .opt-tag -- */
#itempage .opt-tag {
	margin: 5px 0 0;
}

/* -- #item-box -- */
#item-box {
	margin-bottom: 30px;
}
/* -- .detail-box -- */
.detail-box {
	margin: 0 15px 10px;
}
.detail-box .item-name {
	font-size: 14px;
}
#itempage .itemcode {
	font-weight: bold;
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
#itempage .campaign_message {
	padding: .5em 0;
	background-color: #efefef;
	text-align: center;
}
/* -- .item-info -- */
#itempage .item-info {
	margin: 0 15px 20px;
	padding: 0;
}
.item-info .skuform {
	margin: 0;
	padding: 2.142856em 0;
}
.item-info .skuform.multiple-sku {
	border-top: 2px solid #ccc;
}
.item-info .skuname {
	font-size: 14px;
	margin-bottom: 15px;
	position: relative;
	padding: 0;
	padding-bottom: .5em;
	background: none;
	letter-spacing: 1px;
}
.item-info .skuname:after {
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 1;
	content: '';
	width: 30%;
	height: 2px;
}

/* - list - */
.item-info ul.item_custom_field {
	float: none;
	margin-bottom: 15px;
}
.item-info ul.item_custom_field li {
	padding: 0;
	border: none;
}

/* - table - */
.item-info table.item_custom_field {
	width: 100%;
	float: none;
	border: none;
	margin-bottom: 20px;
}
.item-info table.item_custom_field th {
	font-weight: normal;
	background-color: #fafafa;
	vertical-align: middle;
}
.item-info table.item_custom_field th,
.item-info table.item_custom_field td {
	padding: 10px;
	border: 1px solid #ddd;
}

/* - .itemGpExp - */
.item-info .itemGpExp {
	display: table;
	font-size: 12px;
	width: 100%;
	margin: 15px 0;
	padding: 0;
	border: none;
}
.item-info .itemGpExp dt {
	display: table-cell;
	color: #333; 
	width: 35%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-right: none;
	text-align: center;
	vertical-align: middle;
}
.item-info .itemGpExp dd {
	display: table-cell;
	width: 55%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.item-info .itemGpExp {
	font-size: 11px;
}
.item-info .itemGpExp .price {
	font-size: 13px;
}

/* - .item-option - */
.item-info .item-option {
	margin: 15px 0;
	padding: 0;
	border: none;
}
.item-info .item-option dt {
	display: block;
	font-weight: bold;
	width: auto;
	margin-bottom: 0;
}
.item-info .item-option dd {
	display: block;
	width: auto;
	margin-bottom: 15px;
	padding: 0;
	border: none;
}
.item-info .item-option dd:last-child {
	margin-bottom: 0;
}
.item-info .item-option dd br {
	display: none;
}

/* - select - */
.item-info .item-option select {
	width: 100%;
}

/* - radio - */
.item-info .item-option .iopt_radio_label {
	display: inline-block;
	margin-right: 20px;
}
.iopt_radio_label input {
	margin: 0 5px 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* - checkbox - */
.item-info .item-option .iopt_checkbox_label {
	display: inline-block;
	margin-right: 20px;
}
.iopt_checkbox_label input {
	margin: 0 5px 0 0;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* - text - */
.item-info .item-option input[type="text"] {
	width: 100%;
}

/* -- .field -- */
.item-info .field {
	padding: 0;
}
.item-info .zaikostatus {
	float: none;
	margin-bottom: 5px;
	text-align: right;
}
.item-info .field_price {
	font-size: 20px;
	letter-spacing: 1px;
}
.item-info .field_cprice {
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
	letter-spacing: normal;
}
.field_price em {
	letter-spacing: normal;
}
.item-info .c-box {
	margin-top: 5px;
	padding: 0;
}

/* -- .quantity -- */
.quantity select {
	width: auto;
	height: 50px;
	font-size: 16px;
	margin-left: 5px;
	padding: 0 30px 0 20px;
	text-align: right;
	line-height: 50px;
	border-radius: 3px;
}

/* -- .skubutton -- */
.item-info .skubutton {
	height: 50px;
	padding: 0 30px;
	line-height: 50px;
}

/* -- .itemsoldout -- */
.item-info .itemsoldout {
	color: #333;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
	background-color: #eee;
	line-height: 40px;
	text-align: center;
}

/* -- .contact-item -- */
.contact-item {
	text-align: right;
}
.contact-item a {
	width: 100%;
	display: block;
	color: #fff;
	margin-top: 10px;
	padding: 0 20px;
	background-color: #333;
	line-height: 40px;
	border-radius: 3px;
	text-align: center;
}
.contact-item a:hover {
	color: #fff;
}
.contact-item i {
	margin-right: 8px;
}

/* -- #tab -- */
#tab {
	position: relative;
	margin: 0 15px;
}

.tab-list-area {
	overflow: hidden;
	line-height: 1;
}
.tab-list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.tab-list li {
	position: relative;
	display: block;
	top: 4px;
	bottom: 0;
}
.tab-list li::before,
.tab-list li::after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-style: solid;
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(1, 0.6, 0, 1);
	transition: transform 0.2s cubic-bezier(1, 0.6, 0, 1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.tab-list li::before {
	border-width: 2px 0;
	-webkit-transform: translateY(calc(100% - 2px));
	transform: translateY(calc(100% - 2px));
}
.tab-list li::after {
	border-width: 0 2px;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.tab-list li.select {
	top: 2px;
	bottom: -2px;
}
.tab-list li.select::before,
.tab-list li.select::after {
	-webkit-transition-timing-function: cubic-bezier(1, 0.6, 0, 1.22);
	transition-timing-function: cubic-bezier(1, 0.6, 0, 1.22);
}
.tab-list li.select::before {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
@media all and (-ms-high-contrast: none){
	.tab-list li::before {
		border-top-style: none;
	}
	.tab-list li.select::before {
		border-top-style: solid; /* IE10以上 */
	}
}
.tab-list li.select::after {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.tab-list li .tab_link {
	position: relative;
	min-width: 7rem;
	padding: 1em 1.5em;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tab-list li.select .tab_link,
.tab-list li .tab_link:hover,
.tab-list li .tab_link:focus {
	opacity: 1;
}
/*.tab-list li .tab_link {
	position: relative;
	line-height: 50px;
	min-width: 115px;
	height: 50px;
	padding: 0 1.5em;
	text-align: center;
	-webkit-transition: background-color 1s, color 0.3s;
	transition: background-color 1s, color 0.3s;
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tab-list li::before,
.tab-list li::after,
.tab-list li .tab_link::before,
.tab-list li .tab_link::after {
	content: '';
	position: absolute;
	bottom: 0;
}
.tab-list li::before,
.tab-list li::after {
	width: 2px;
	height: 100%;
	opacity: 0;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0s 0.1s, opacity 0.1s;
	transition: transform 0s 0.1s, opacity 0.1s;
}
.tab-list li::before {
	left: 0;
}
.tab-list li::after {
	right: 0;
}
.tab-list li.select::before,
.tab-list li.select::after {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.tab-list li .tab_link::before,
.tab-list li .tab_link::after {
	width: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.tab-list li .tab_link::before {
	left: 0;
}
.tab-list li .tab_link::after {
	right: 0;
}
.tab-list li.select .tab_link::before,
.tab-list li.select .tab_link::after {
	height: 2px;
	-webkit-transform: translate3d(0, -48px, 0);
	transform: translate3d(0, -48px, 0);
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
*/
.tab-box.select {
	display: block;
}
.tab-box {
    display: none;
}
#tab .item-description,
#tab #wc_reviews {
	margin-bottom: 0;
	padding-top: 30px;
}

/* - .item-description - */

.item-description table {
	width: 100%;
	border-collapse: collapse;
}
.item-description caption {
	font-weight: bold;
	margin-bottom: 10px;
}
.item-description table th,
.item-description table td {
	padding: 10px;
	border: 1px solid #ddd;
}
.item-description table th {
	width: 40%;
	font-weight: normal;
}

/* -- h1,h2,h3,h4,h5,h6 -- */
.item-description h1,
.item-description h2,
.item-description h3,
.item-description h4,
.item-description h5,
.item-description h6 {
	font-weight: normal;
}
.item-description h1 {
	font-size: 1.142857em;
	margin-bottom: 1.07143em;
}
.item-description h1:first-letter {
	font-size: 1.5em;
	margin-right: .1em;
}
.item-description h2 {
	font-size: 1.142857em;	
	border-bottom: 3px solid #eee;
	margin-bottom: 1.25em;
	padding-bottom: .312502em;
	line-height: 1.25em;	
}
.item-description h3 {
	margin-bottom: 1.071428em;
	padding-left: .357143em;
	line-height: 140%;	
}
.item-description h4 {
	margin-bottom: 1.071428em;
	padding: .357143em;
}
.item-description h5 {
    margin-bottom: 1.071428em;	
}
.item-description p {
	margin-bottom: 1.42857em;
	line-height: 160%;	
}
.item-description a {
	text-decoration: underline;	
}
.item-description input[type="submit"] {
	color: #fff;	
}

/* -- #wc_reviews -- */
#wc_reviews .comment-respond {
	margin-bottom: 30px;
}
#respond label {
	font-weight: normal;
	margin-bottom: 10px;
}
#wc_reviews .reviews_btn {
	padding: 20px 0;
}
#wc_reviews .reviews_btn a {
	display: block;
	width: 50%;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}
#wc_reviews .reviews_btn a:hover {
	text-decoration: none;
}

/* - #wc_reviews form - */
#wc_reviews .comment-form-author input {
	width: 100%;
	padding: 0 10px;
	line-height: 40px;
}
#wc_reviews .form-submit {
	margin: 0;
	border: none;
}

/* - .wc_review-list - */
#wc_reviews-title {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}
#wc_reviews-title span {
	font-weight: bold;
}
#wc_reviews li {
	font-weight: normal;
	padding: 0 0 15px;
	margin-bottom: 15px;
	float: none;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#wc_reviews li:last-child {
	margin-bottom: 0;
}
#wc_reviews li .children {
	clear: both;
	width: 90%;
	float: right;
	margin-top: 15px;
}
#wc_reviews li .children li {
	overflow: initial;
	margin: 0;
	padding: 0;
}
#wc_reviews .review-author {
	margin-bottom: 10px;
}
#wc_reviews .review-author:before {
	display: inline-block;
	color: #fff;
	background-color: #ddd;
	width: 20px;
	height: 20px;
	font-family: FontAwesome;
	content: "\f007";
	margin-right: 5px;
	text-align: center;
}
#wc_reviews .review-author cite.fn {
	font-style: normal;
}
#wc_reviews li .review-body {
	color: #333;
	padding: 5px 10px;
	background-color: #f9f9f9;
}
#wc_reviews li ul .review-body {
	position: relative;
}

/* -- .assistance_item -- */
.assistance_item {
	margin: 0 10px;
}
.assistance_item h3 {
	margin: 30px 0 5px;
	border: none;
}
.assistance_item li {
	width: 49%;
	margin-top: 2%;
	margin-right: 2%;
	padding: 0;
}
.assistance_item li .detail h4 {
	font-weight: bold;
	height: auto;
	margin-bottom: 5px;
}
.assistance_item li .detail p {
	height: auto;
}
.assistance_item li .detail .assist_price {
	color: #3c3c3c;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: right;
}

/* --------------------------------------------------------------

Welcart Search Page

-------------------------------------------------------------- */
.two-column.search-page #content {
	padding: 0 5px 30px;
}
.search-page .page-title {
	padding-left: 5px;	
}
.search-li {
	margin-bottom: 0;
}
.search-page .search-li .title {
	font-size: 14px;
	margin: 0 0 10px 5px;
}
section#usces-cart form {
	margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
section#usces-cart form .outlabel {
	font-weight: bold;
	padding: 0 0 10px;
}
#searchbox fieldset {
	margin-bottom: 10px;
}
#searchbox input.usces_search_button {
	padding: 0 20px;
}
#searchbox .navigation {
	padding: 0 10px;
	background-color: #fff;
    border: 1px solid #ddd;
}

/* --------------------------------------------------------------

Welcart Cart Page

-------------------------------------------------------------- */
/* Common
-------------------------------------------------------------- */
#content.cart-page {
	padding: 0 15px 45px;
}
/* Cart Page
-------------------------------------------------------------- */
.cart-page .column {
    width: 100%;
	margin: 0;
	padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    overflow: hidden;	
}

/* -- .cart_navi -- */
div.cart_navi {
	margin-bottom: 20px;
}
div.cart_navi ul {
	position: relative;
	text-align: center;
}
div.cart_navi li:before,
div.cart_navi li:after{
	display: none;
}
div.cart_navi li {
	width: 25%;
	padding: .5em 0;
	font-size: 10px;
	float: left;
	line-height: 20px;
	background: none;
	border-width: 1px 1px 1px 0;
	border-style: solid;
}
div.cart_navi li:first-child {
	border-left-width: 1px;
}
div.header_explanation {
	margin: 0 0 10px;
}
div.footer_explanation {
	margin-top: 10px;
}

.cart-page .send {
	margin: 0;
	padding-top: 10px;
}
div.footer_explanation .send {
	padding-top: 0;
}

/* -- font-size -- */
#wc_cart #cart .upbutton,
#cart_table,
#cart_table .amount,
.customer_form,
#confirm_table,
#point_table {
	font-size: 12px;
}

/* -- .customer_form -- */
.customer_form {
	margin-bottom: 0;
}
.customer_form tr {
	margin-bottom: 10px;
	padding: 0 0 10px;
	border-bottom: 1px solid #efefef;
}
.customer_form input#search_zipcode {
	padding: 0 20px;
}

#wc_cart #cart .upbutton input {
	padding: 0 10px;
	line-height: 25px;
	border: none;
}
#cart_table {
	border: none;
}
#cart_table th,
#cart_table td {
	background: none;
}
#cart .action input.delButton {
	line-height: normal;
}
#wc_cart .currency_code {
	padding: 5px 0 0;
}

/* -- PayPal -- */
#paypal_dialog table,
#paypal_dialog th,
#paypal_dialog td {
	border: 1px solid #ddd;
}
#paypal_dialog th {
	background-color: #efefef;
}

/* -- .no_cart -- */
#wc_cart .no_cart {
	font-size: 16px;
	padding: 20px 0;
	letter-spacing: 1px;
}

/* Customer Page
-------------------------------------------------------------- */
#wc_customer #customer-info {
	font-size: 12px;
}

/* -- h5 -- */
#customer-info h5 {
	position: relative;
	padding: 0;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;
}
#customer-info h5:after {
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 2;
	content: '';
	width: 30%;
	height: 2px;
}
#customer-info h5.member-ttl {
	margin-top: 0;
}
#wc_customer .customer_form tr:last-child {
	margin-bottom: 0;
}

/* Delivery Page
-------------------------------------------------------------- */
#wc_delivery #notes_table,
#wc_delivery #notes_table tr:last-child {
	margin-bottom: 0;
}

/* Confirm Page
-------------------------------------------------------------- */
/* -- #point_table + #confirm_table -- */
#confirm_table th,
#confirm_table td {
	font-weight: normal;
	padding: 8px;
	background-color: inherit;
}
#point_table td.c-point,
#point_table td.u-point {
	background-color: inherit;
}
#point_table td input.use_point_button {
	border: none;
}
/* -- WCEX-coupon -- */
#cart #coupon_table tr:first-child td:first-child {
	background: none;
}
#cart #coupon_table td .use_coupon_button {
	border: none;
}

/* Completion Page
-------------------------------------------------------------- */
#wc_ordercompletion .send a {
	display: inline-block;
}

#wc_ordercompletion h3 {
	font-size: 14px;
	margin: 0 0 10px;
	letter-spacing: 1px;
}
#wc_ordercompletion .header_explanation {
	margin-bottom: 0;
}
.cart-page #wc_ordercompletion .send {
	padding-top: 0;
}

/* --------------------------------------------------------------

Welcart Member Page

-------------------------------------------------------------- */
#content.member-page {
	padding: 0 15px 45px;
}
#content.member-page .submit {
	text-align: center;
}
#content.member-page .submit input {
	width: 70%;
}


/* -- .column -- */
.member-page .column {
    width: 100%;
	margin-bottom: 0;
	padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    overflow: hidden;	
}

/* -- .loginbox -- */
#wc_login .loginbox,
#wc_member .loginbox,
#wc_lostmemberpassword .loginbox,
#wc_changepassword .loginbox {
	margin: 0;
	padding: 0;
}

/* -- .send -- */
.member-page .send {
	margin: 0;
	padding-top: 10px;
}

/* -- .btn -- */
#wc_login .loginbox .new-entry #nav a,
#wc_member .loginbox .new-entry #nav a,
#wc_lostmemberpassword #member_login,
#wc_lostmemberpassword #nav a,
#wc_newcompletion #memberpages p a,
#wc_lostcompletion #memberpages p a,
#wc_changepasscompletion #memberpages p a,
#wc_newcompletion .send a,
#wc_lostcompletion .send input,
#wc_lostcompletion .send a,
#wc_changepasscompletion .send a {
	padding: 0 20px;
	line-height: 40px;
}

/* -- font-size -- */
#wc_login {
	font-size: 12px;
}

/* -- .customer_form -- */
.member-page .customer_form tr:last-child {
	margin-bottom: 0;
}

/* -- member table -- */
#wc_lostmemberpassword table,
#wc_changepassword table {
	width: 100%;
	margin-bottom: 5px;
	border-collapse: collapse;
}
#wc_lostmemberpassword th,
#wc_changepassword th {
	padding: 5px;
	background: none;
	border: 1px solid #ddd;
}
#wc_lostmemberpassword td,
#wc_changepassword td {
	padding: 5px;
	border: 1px solid #ddd;
}

/* -- td input -- */
#wc_login .loginbox input.loginmail,
#wc_login .loginbox input.loginpass,
#wc_member .loginbox input.loginmail,
#wc_member .loginbox input.loginpass,
#wc_lostmemberpassword .loginbox input.loginmail,
#wc_changepassword .loginbox input.loginpass,
#wc_changepassword .loginbox input.loginpass {
	margin: 0;
	padding: 0 10px;
}

/* --------------------------------------------------------------

Welcart Login Page

-------------------------------------------------------------- */
#wc_login .loginbox h2,
#wc_member .loginbox h2 {
    position: relative;
	font-size: 12px;
	margin-bottom: 10px;
    padding: 0;
	letter-spacing: .5px;
}

/* -- #nav -- */
.member-page #nav {
	margin-bottom: 20px;
	text-align: center;
}
.member-page #nav a {
	display: inline-block;
	width: 70%;
	margin-top: 10px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
}

/* -- .new-entry -- */
#wc_login .loginbox .new-entry,
#wc_member .loginbox .new-entry {
	background: none;
	padding: 0;
}
#wc_login .loginbox .new-entry #nav,
#wc_member .loginbox .new-entry #nav {
	text-align: center;
}
#wc_login .loginbox .new-entry a,
#wc_member .loginbox .new-entry a {
	width: 70%;
}

/* -- div.submit -- */
.loginbox .submit {
	padding: 5px 0;
}

/* --------------------------------------------------------------

Welcart Lost Password Page

-------------------------------------------------------------- */
#wc_login .error_message,
#wc_member .error_message,
#wc_changepassword .loginbox,
#wc_changepassword .error_message, 
#wc_lostmemberpassword .loginbox,
#wc_lostmemberpassword .error_message {
	width: auto;
	margin: 0;
}

#wc_lostmemberpassword .submit,
#wc_lostmemberpassword #nav {
	margin: 0;
	text-align: center;
}
#wc_lostmemberpassword #member_login,
#wc_lostmemberpassword #nav a {
	width: 70%;
}
#wc_lostmemberpassword div {
	margin: 10px 0;
	text-align: center;
}

/* --------------------------------------------------------------

Welcart Change Password Page

-------------------------------------------------------------- */
#wc_changepassword .submit {
	text-align: center;
}
#wc_changepassword #member_login {
	width: 70%;
	padding: 0 20px;
}

/* --------------------------------------------------------------

Welcart Member Complation Page

-------------------------------------------------------------- */
#wc_changepasscompletion .completion-text p,
.completion-text .sent-text,
#wc_newcompletion .completion-text p {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
#wc_changepasscompletion #memberpages p a,
#wc_changepasscompletion .send a,
#wc_lostcompletion #memberpages p a,
#wc_lostcompletion .send a,
#wc_newcompletion #memberpages p a,
#wc_newcompletion .send a {
	width: 70%;
}

/* --------------------------------------------------------------

Welcart Member Page

-------------------------------------------------------------- */
#wc_member h3,
#wc_editmemberform h3 {
	position: relative;
	padding: 0;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;	
}
#wc_member h3:after,
#wc_editmemberform h3:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 2;
    content: '';
    width: 30%;
    height: 2px;
    background-color: #333;	
}
.member_submenu  {
	text-align: center;
}
.member_submenu li {
	display: inline-block;
	margin-bottom: 0;
}
.member_submenu li:last-child {
	margin-top: 5px;
}
.member_submenu a,
.gotoedit a {
	width: auto;
	padding: 0 20px;
	line-height: 40px;
}
#memberinfo table {
	border: none;
}
#memberinfo th {
	font-weight: bold;
	padding:  0;
	background: none;
	border: none;
}
#memberinfo td {
	margin-bottom: 10px;
	padding: 0 0 5px;
	border: none;
	border-bottom: 1px solid #efefef;
}
#memberinfo #history_head th,
#memberinfo .retail th,
#memberinfo #history_head td,
#memberinfo .retail td {
	background: none;
	border: 1px solid #ddd;
}
#memberinfo .customer_form td {
	margin-bottom: 0;
}

/* -- .history-area -- */
#memberinfo .history-area table td.productname {
	text-align: center;
}

/* --------------------------------------------------------------

Welcart Member Update Settlement Page

-------------------------------------------------------------- */
#wc_member_update_settlement .entry {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	overflow: hidden;		
}
#wc_member_update_settlement h3 {
	position: relative;
	padding: 0;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;	
}
#wc_member_update_settlement h3:after {
	position: absolute;
	bottom: -2px;
	left: 0;
	content: '';
	width: 30%;
	height: 2px;
	background-color: #333;	
}
#wc_member_update_settlement .send input[type="button"] {
	color: #333;
	padding: 0 20px;
	background-color: #efefef;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}


/* --------------------------------------------------------------

Media Query

-------------------------------------------------------------- */
/* Mobile Large 620px
-------------------------------------------------------------- */
@media screen and (min-width: 38.75em) {

/* -- item-single-page -- */

	/* -- #img-box -- */
	#itempage #img-box {
		width: 45%;
	}
	#img-box .itemimg,
	#img-box .itemsubimg {
		border: none;
	}

	/* -- .detail-box + .item-info -- */
	#itempage .detail-box,
	#itempage .item-info {
		clear: inherit;
		width: 53%;
		float: right;
		margin: 0 0 15px;
	}
	#itempage .item-info {
		margin: 0;
	}
	.detail-box .item-name {
		font-size: 16px;	
	}
	/* -- .item-info -- */
	.item-info .skuform {
		margin-bottom: 20px;
	}
	#itempage .item-info .skuform:last-child {
		margin-bottom: 0;
	}	
	
	/* -- .itemGpExp -- */
	.item-info .itemGpExp,
	.item-info .itemGpExp dt,
	.item-info .itemGpExp dd {
		width: 100%;
		display: block;
	}
	.item-info .itemGpExp {
		margin: 10px 0;
	}
	.item-info .itemGpExp dt,
	.item-info .itemGpExp dd {
		margin: 0;
		padding: 5px 10px;
		text-align: center;
	}
	.item-info .itemGpExp dt {
		border: 1px solid #ccc;
		border-bottom: none;
	}
	
	/* -- .item-option -- */
	.item-info .item-option {
		margin: 10px 0 20px;
	}
	.item-info .field_price {
		margin-bottom: 0;
	}

	/* -- #tab -- */
	#itempage #tab {
		clear: both;
		margin: 0;
	}

	/* -- #wc_reviews -- */
	#wc_reviews textarea {
		width: 100%;	
	}
	#wc_reviews .comment-form-author input {
		width: 50%;
	}

	/* -- .assistance_item -- */
	.assistance_item {
		margin: 0;
	}
	.assistance_item li {
		width: 32%;
	}
	.assistance_item li:nth-of-type(even) {
		margin-right: 2%;
	}
	.assistance_item li:nth-of-type(3n) {
		margin-right: 0;
	}
	
	/* -- #itempage-widget -- */
	#itempage-widget {
		margin: 50px 0 0;
	}

	/* -- .post-password-form -- */
	.post-password-form {
		margin: 0;
	}

/* -- search-page -- */
	.two-column.search-page #content {
		padding: 0 10px 30px;
	}

/* -- cart-page -- */
	
	/* -- .cart_navi -- */
	.customer_form tbody {
		display: table-row-group;
	}
	.customer_form tr {
		display: table-row;
	}
	.customer_form th {
		background: none;
	}
	.customer_form th,
	.customer_form td {
		display: table-cell;
		padding: 10px;
		border: 1px solid #ddd;
	}

/* -- member-page -- */
	
	.cart-page .column,
	.member-page .column {
		padding: 20px;
	}
	.member-page .send {
		padding-top: 20px;
	}

	/* =wc_login_page.php
	-------------------------------------------------------------- */
	
	#wc_login .loginbox .new-entry a,
	#wc_member .loginbox .new-entry a {
		width: 50%;
	}
	
	/* =wc_lostpassword.php
	-------------------------------------------------------------- */
	
	#wc_lostmemberpassword #member_login,
	#wc_lostmemberpassword #nav a {
		width: 50%;
	}
	
	/* =wc_changepassword_page.php
	-------------------------------------------------------------- */

	#wc_changepassword #member_login {
		width: 50%;
	}

	/* =wc_member_completion_page.php
	-------------------------------------------------------------- */
	
	#wc_changepasscompletion #memberpages p a,
	#wc_changepasscompletion .send a,
	#wc_lostcompletion #memberpages p a,
	#wc_lostcompletion .send a,
	#wc_newcompletion #memberpages p a,
	#wc_newcompletion .send a {
		width: 50%;
	}

	/* =wc_member_page.php
	-------------------------------------------------------------- */
	
	#memberinfo th,
	#memberinfo td {
		padding: 10px;
		border: 1px solid #ddd;
	}
	#memberinfo .customer_form th {
		width: 25%;
	}
	#memberinfo .customer_form th,
	#memberinfo .customer_form td {
		padding: 10px;
		border: 1px solid #ddd;
	}
	#memberinfo .customer_form th {
		background-color: #fff;
	}

	
}

/* Tablet Small 740px
-------------------------------------------------------------- */
@media screen and (min-width: 46.25em) {


	#itempage .detail-box {
		clear: none;
	}

/* -- cart-page -- */
	
	.cart-page .send {
		padding-top: 20px;
	}
	
	/* -- .cart_navi -- */
	div.cart_navi {
		padding: 10px 0;
		margin-bottom: 20px;
		border: none;
	}
	div.cart_navi ul:before {
		top: 20px;
	}
	div.cart_navi li {
		font-size: 1em;
	}
	div.cart_navi li span {
		font-size: 18px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}

	/* -- font-size -- */
	#wc_cart #cart .upbutton,
	#cart_table,
	#cart_table .amount,
	.customer_form,
	#confirm_table,
	#point_table {
		font-size: 13px;
	}
	#wc_delivery .customer_form {
		margin-bottom: 10px;
	}
	
/* -- member-page -- */

	/* -- font-size -- */
	#wc_login {
		font-size: 13px;
	}	

}


/* Tablet Large 880px
-------------------------------------------------------------- */
@media screen and (min-width: 55em) {

/* -- member-page -- */
	
	#wc_login .loginbox{
		width: 100%;
	}
		
}

/* Desktop Small 1000px
-------------------------------------------------------------- */
@media screen and (min-width: 62.5em) {

	/* =header =>  widget_cart.css
	-------------------------------------------------------------- */
	
	.upper_menu .in_cart a:hover {
		background: none;
	}
	
	/* -- page_title -- */
	.item_page_title,
	.cart_page_title,
	.member_page_title {
		font-size: 20px;
		margin: 20px 0 20px 8px;
	}

/* -- item-single-page -- */
	
	#itempage #img-box {
		margin-bottom: 20px;
	}
	
	/* -- .detail-box -- */
	.detail-box {
		margin-top: 15px;
	}
	
	/* -- .contact-item -- */
	.contact-item a {
		display: inline-block;
		width: auto;
	}


	/* =wc_search_page.php
	-------------------------------------------------------------- */
	
	.search-page .search-li .title {
		margin-left: 10px;
	}

/* -- cart-page -- */

	/* =wc_completion_page.php
	-------------------------------------------------------------- */
	
	#wc_ordercompletion h3 {
		font-size: 16px;
	}	

/* -- member-page -- */
	
	/* =wc_login_page.php
	-------------------------------------------------------------- */
	#wc_lostmemberpassword #memberpages,
	#wc_changepassword #memberpages {
		margin: 0 auto;
		width: 60%;
	}
	#wc_login .loginbox,
	#wc_member .loginbox {
		position: relative;
	}
	#wc_login .loginbox h2,
	#wc_member .loginbox h2 {
		margin-bottom: 20px;
		font-size: 14px;
	}
	#wc_login .member-box,
	#wc_member .member-box {
		float: left;
		width: 50%;
		padding: 0 4% 0 0;
		border-right: 1px solid #ddd;
	}
	#wc_login .loginbox .new-entry,
	#wc_member .loginbox .new-entry {
		float: right;
		width: 46%;
	}

	/* =wc_member_completion_page.php
	-------------------------------------------------------------- */
	
	#wc_changepasscompletion .completion-text p,
	.completion-text .sent-text,
	#wc_newcompletion .completion-text p {
		font-size: 16px;
	}
	#wc_changepasscompletion #memberpages p a,
	#wc_changepasscompletion .send a,
	#wc_lostcompletion #memberpages p a,
	#wc_lostcompletion .send a,
	#wc_newcompletion #memberpages p a,
	#wc_newcompletion .send a {
		width: auto;
	}

	/* =wc_member-page.php
	-------------------------------------------------------------- */

	#wc_member h3,
	#wc_editmemberform h3 {
		font-size: 15px;
		padding-bottom: 8px;
	}
	#memberinfo .history-area {
		border: none;
	}

	/* =wc_member_update_settlement
	-------------------------------------------------------------- */
	
	#main.member-page #content.two-column {
		width: 100%;
		float: right;
		margin-left: -230px;	
	}
	.member-page #content.two-column .catbox {
		width: 100%;
		float: right;
		margin-right: 0;
		padding: 0;		
	}
	
}

/* Desktop 1290px
-------------------------------------------------------------- */
@media screen and (min-width: 77.5em) {

/* -- item-single-page -- */

	/* -- #wc_reviews -- */
	#wc_reviews .reviews_btn a {
		display: inline-block;
		width: auto;
		padding: 0 20px;
	}
	
	/* -- .assistance_item -- */
	.assistance_item li {
		width: 18.4%;
	}
	
	/* -- .assistance_item -- */
	.assistance_item li:nth-of-type(even),
	.assistance_item li:nth-of-type(3n) {
		margin-right: 2%;
	}
	.assistance_item li:nth-of-type(4n) {
		margin-right: 0;
	}

	/* =member-page
	-------------------------------------------------------------- */
	#wc_lostmemberpassword th,
	#wc_lostmemberpassword td {
		padding: 10px;
	}
}